<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
</head>
<body>
	<center>
		<h2>Login !!!</h2>

		{% if next %}
			  {% if user.is_authenticated %}
			    <p>Your account doesn't have access to this page. To proceed,
			    please login with an account that has access.</p>
			  {% else %}
			    <p>Please login to see this page.</p>
			  {% endif %}
		{% endif %}

		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<table>
				<tr>
					<td>{{ form.username.label_tag }}</td>
					<td>{{ form.username }}</td>
				</tr>

				<tr>
					<td>{{ form.password.label_tag }}</td>
					<td>{{ form.password }}</td>
				</tr>

				<tr>
					<td></td>
					<td><button type="submit">Login</button></td>
				</tr>
				
			</table>
			
		</form>

	</center>

</body>
</html>